---
import { menuLinks, siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-3 border-t border-color-150 pb-6 pt-10 text-center align-top text-sm tracking-wide text-lighter sm:flex-row sm:justify-between"
>
	<div class="me-0 font-medium text-accent-base sm:me-4">
		&copy; {siteConfig.author}
		{year}.<span class="inline-block">&nbsp;🚀&nbsp;DFW Sikh Shooters</span>
	</div>
	<nav
		aria-label="More on this site"
		class="flex w-auto justify-between space-x-6 font-medium text-light md:w-[14rem]"
	>
		{
			menuLinks.map((link) => (
				<a class="underline-offset-4 transition-all duration-200 ease-out hover:text-accent-one hover:underline decoration-accent-one/30" href={link.path}>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
